.gl-label-text {
    /* this really should be in the base GitLab theme, labels are 1 pixel too short! */
    line-height: 17px;
}

:root {
    --background:#0c0c0c;
    --labelTextBG: #0005;
}

/* Hardcoded colors for items potentially containing emojis */
.issue-title .issue-title-text a {color: #a7a7a7; filter:invert()}

.blog.article .body,.video_container { filter:invert();}
.blog.article img,.article svg,.badge-container {filter:invert(0) hue-rotate(180deg) contrast(.9);}

.cgrey,
.clgrey,
.cdark, /* ?? where */
.cgreen, /* Commits page */
.cred
{ filter:invert()}

/* not great...*/
/*
.epic-sidebar
{filter:invert(0) hue-rotate(180deg)}
.epic-tabs-holder
,.epic-tabs-content
{filter:invert() hue-rotate(180deg)}
*/

body > .layout-page img,
body > .layout-page [style*="background-image"],
body > .layout-page > .nav-sidebar,
/* for some reasons :not([class^="right-sidebar-"]) didn't work */
.layout-page:not(.right-sidebar-expanded):not(.right-sidebar-collapsed) > .content-wrapper,
.layout-page.right-sidebar-expanded .breadcrumbs-container,
.layout-page.right-sidebar-collapsed .breadcrumbs-container,

.navbar .avatar-container img,

.detail-page-header,
.issuable-details,
.right-sidebar,

pre.code,
table.code, /* File editor - preview changes - basic .code selector doesn't work as there's .code within .code :| */
.progress-bar,
.dropdown-label-box,
.project-feature-toggle,
.gl-toggle,
.gl-label,
.gl-label .fa, /* (?) icon in scoped label */
.label-link,
gl-emoji,
.status-box,
.emoji-menu-list,
.warning-title,
.danger-title,
.stacktrace table,
.color-label,
.diff-viewer,
.content-wrapper .badge, /* Don't affect navbar, left/right bars */
.atwho-container,
.value-container,
.dropdown-label-color-preview,
.select2-arrow::after,
.suggest-colors a,
.modal-content,
.detail-page-header, /* Behold, the pyramid, milestones page */
.detail-page-header+*,
.detail-page-header+*+*,
.detail-page-header+*+*+*
{
    filter: invert();
}

/* .note-header-author-name /* username in log list*/

.modal-content gl-emoji {filter:invert(1) hue-rotate(180deg)}

.flash-container,.alert
,.settings-message /* CI deploy keys */
{filter:brightness(.8) invert(1)}

.sidebar-top-level-items>.active {filter:hue-rotate(180deg);}
/*
a[data-link="true"],
a[rel*="nofollow"]*/
a[data-user] { filter:brightness(.7) contrast(1.5) saturate(.8) invert(); } /* Match GitLab standard links*/
a[data-user] { filter:brightness(.95) saturate(1.4) hue-rotate(211deg); } /* Match header color */

.issue-token-state-icon-closed,
.issue-token-state-icon-open {filter:invert()}

.layout-page img[src*=".svg"]:not(.project-badge),
body .svg-container svg,
body .svg-content svg,
body .ci-status-icon>svg, /* Overview... */
body .ci-status-link>svg, /* Commits page */
.icon-no-data svg, /* "not enough data" value stream */
.icon svg /* Group empty state ... red saturation looks wack. */
{filter:invert(0) contrast(.9) hue-rotate(180deg);}

.group-list-tree .group-list-tree .group-row:last-child::before {
    background:var(--background);
}

.avatar {background:none;}  /* No idea why base CSS applied background here, .avatar is applied directly to img tags, not the container. */
.identicon {filter:hue-rotate(180deg);}

/* allow dropdowns from this section to overlap the main content area */
.detail-page-header {
    position: relative;
    z-index: 1;
}

.gl-label {
    filter: brightness(.8) invert();
    box-shadow: none !important;
    /* Unhappy using text-shadow, would love alternative solution */
    text-shadow: 1px 1px 0 var(--labelTextBG), 1px -1px 0 var(--labelTextBG), -1px 1px 0 var(--labelTextBG), -1px -1px 0 var(--labelTextBG), 1px 0px 0 var(--labelTextBG);
}
.gl-label:hover {
    filter: brightness(1) invert()
}
.gl-label-text + .gl-label-text,
.gl-label-text-dark {
    text-shadow: none
}

/* What's font-awesome doing here? :P */
/*.btn > .fa {
    filter:hue-rotate(180deg) invert();
}*/

.btn:not(.js-emoji-btn):not(.award-control),
.provider-btn {
    filter: hue-rotate(180deg) opacity(.8);
    transition: all .2s
}
.btn:hover:not(.js-emoji-btn):not(.award-control) {
    filter: hue-rotate(180deg) opacity(1);
}
.fly-out-list {
    box-shadow:0 0 5px #000;
}
.navbar .dropdown-menu {
  filter: invert() drop-shadow(2px 2px 5px #000);
  box-shadow:none;
}

body {
    background: var(--background);
}

body > header {
    border-bottom-color: #000 !important;
}

span.idiff {
    filter: hue-rotate(180deg);
}

ul.content-list li {
    border-color: #f1efef
}

/*.dropdown-content-faded-mask::after {
    background: linear-gradient(to top, #000 0, rgba(0,0,0,0));
}*/